<h2>Products</h2>
<!-- 
{{}} - interpolation
[] - binding
title - display text when hover over
ngFor, ngIf - directives
() - events
-->
<div *ngFor="let product of products; index as productId">
  <h3>
  <a [title] = "product.name +' details' " [routerLink]="['/products', productId]" >
  {{product.name}}
  </a>
  </h3>
  <p *ngIf="product.description">
    description : {{product.description}}
  </p>
  <button (click)="share()">
    share
  </button>

  <!-- embedd component. pass product as input -->
  <app-product-alerts 
  [product]="product" 
  (notify) = "onNotify()"
  ></app-product-alerts>

</div>

